body {
    background: #eee;
}

#login {
    border: 1px solid black;
    padding: 20px;
    margin-top: 30vh;
}

#line {
    border-top: 1px solid black;
}

a:hover {
    text-decoration: underline;
}

#users {
    display: none;
}

#submissions {
    display: none;
}

#questions {
    display: none;
}

#settings {
    display: none;
}
