.question_selector{
        width: 15%;
        position: absolute;
        background: #38305B;
        overflow-y: auto;
        height: 100vh;
}

.logo{
        width: 150px;
        position: relative;
        left: -25px;
        z-index: 1;
    }

.question{
        width: 70%;
        height: 30px;
        z-index: 1;
        background: #302947;
        position: relative;
        margin: 0 auto;
        transform: translateY(20%);
        border-radius: 30px;
        padding-left: 3px;
        padding-left: 3px;
        text-align: center;
        color: #009BEB;
        padding-top: 2.5px;
        cursor: pointer;
        margin-bottom: 10px;
        right: -10px;
    }
    .col-10{
        position: absolute;
        right: 0px;
        padding-top: 10px;
        color: #302947;
        height: 100vh;
        overflow-y: auto;
    }
.question-box{
      width: 50%;
      border-radius: 30px; 
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      
        /* -webkit-box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
        -moz-box-shadow:    3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999; */
        box-shadow:         15px 15px 15px -10px #eee, 15px 15px 15px -10px  #eee, -15px 15px 15px -10px  #eee
}
h3{
        color: #302947;
}
@media only screen and (max-width: 900px) {
        .question_selector{
                width: 50%;
                height: 100%;
                position: absolute; 
                background: #38305B;
        }
        .question{
                width: 70%;
                height: 30px;
                z-index: 1;
                background: #302947;
                position: relative;
                margin: 0 auto;
                transform: translateY(20%);
                border-radius: 30px;
                padding-left: 3px;
                padding-left: 3px;
                text-align: center;
                color: #009BEB;
                padding-top: 2.5px;
                cursor: pointer;
                margin-bottom: 10px;
                right: -10px;
            }
}
@media only screen and (max-width: 600px) {
        .question_selector{
                width: 70%;
                height: 100%;
                position: absolute;
                background: #38305B;
        }
}
input:focus{
        outline: 0;
}

.components-wrap{
        background: #FCFDFF;
}
.radio{
        display: inline-block;
}
h4{
        display: inline-block;
        margin-left: 5px;
        margin-right: 20px;
}
/* width */
::-webkit-scrollbar {
        width: 20px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #38305B; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #302947; 
    }

    .radio_wrap_l{
            text-align: center;
    }
    .radio_wrap_r{
        text-align: center;
}